@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br />
    <p class="lead text-center">Type your question and then add answers. From this point you can simply hit create poll and you're ready to go. The rest of the steps are optional. No account or signup required.</p>
</div>


<div class="container">
    <div class="col-md-12">
        <form method="post" action="/Home/MakeQuestion">
            <div class="col-md-12">
                <textarea placeholder="Write your question here..." class="form-control" rows="4" style="width: 100% !important;" name="QuestionText"></textarea> <br />
            </div>

            <div id="ansewersDiv" class="col-md-7">
                <input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />
                <input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />
                <input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />
            </div>
            <div class="clearBoth"></div>
            <div id="ansewersDiv" class="col-md-7">
                <label class="btn btn-warning" onclick="addAnswer()">Add more answers </label>
                <input class="btn btn-success" type="submit" value="Create Poll" />
            </div>
            
        </form>
    </div>
</div>

<script>
    function addAnswer() {
        $('#ansewersDiv').append('<input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />');
    }
</script>