@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>


<div class="container">
    <div class="col-md-12">
        <form method="post" action="/Home/MakeQuestion">
            <div class="col-md-12">
                <textarea placeholder="Write your question here..." class="form-control" rows="4" style="width: 100% !important;" name="QuestionText"></textarea> <br />
            </div>

            <div id="ansewersDiv" class="col-md-7">
                <input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />
                <input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />
                <input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />
            </div>
            <div class="clearBoth"></div>
            <div id="ansewersDiv" class="col-md-7">
                <label class="btn btn-info" onclick="addAnswer()">Add more answers </label>
                <input class="btn btn-success" type="submit" />
            </div>
            
        </form>
    </div>
</div>

<script>
    function addAnswer() {
        $('#ansewersDiv').append('<input class="form-control" placeholder="Answer" type="text" name="Answers" /> <br />');
    }
</script>